recursive-include octoprint_filamenthub_bridge/static *
recursive-include octoprint_filamenthub_bridge/templates *
recursive-include octoprint_filamenthub_bridge/translations *.po *.mo
include tests/*.cjs
